{% extends 'shop/base2.html' %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<div class="container text-light">
    <h1>Item Details</h1>
    <hr />
    
    <!-- The method get_absolute_url() returns the URL to access a particular object -->
   <div class="container-glass">
        <div class="box">
          <span class="food-title title text-align-right">{{ item.item_name }}</span><br>
          <div class="glass-img">
            <button type="button" style="border: 0px;" class="w-100 h-100" data-bs-toggle="modal" data-bs-target="#myModal">
              <img class="food-img img-fluid img-thumbnail h-100" src="{{ item.photos.url }}" alt="{{ item.item_name }}" > 
          </button>
          </div>
          <div>
            <!-- cart form -->
            
            
                <div class="food-price display-6"><strong><b>Price:</b> ${{ item.price }}</strong></div>
            <button data-product="{{item.id}}" data-action="add" class="update-cart fbtn">Add to cart</button>


          </div>
        </div>
      </div>
      
    </div> 
    
       
  
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-dark">{{item.name}}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <img id="modal-image" class="img-fluid" style="transform: scale(.90);" src="{{item.photos.url}}" alt="Image Title">
        </div>
  
       
  
      </div>
    </div>
  </div>
  
{% endblock %}
