{% extends 'shop/base2.html' %}

  <style>
   

    section {
      padding: 20px;
    }
    .footer {
      background-color:navy;
      color: #fff;
      padding: 10px 0;
      text-align: center;
      margin: 20px 0;
    }
    .testimonial p {
      font-style: italic;
      color: #666;
    }
    #testimonials {
      background-color: #f9f9f9;
      text-align: center;
    }
    #contact {
        color: #fff;
        text-align: center;
    }
  
    #contact ul {
        list-style-type: none;
    }
    .content-box {
      background-color:aquamarine;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin: 20px;
    }
    .header{
      background-color: #033;
      color: #fff;
      padding: 10px 0;
      text-align: center;
      margin: 20px 0;
    }
  </style>
  {% block content %}
  <br><br><br><br>
  <div class = "about">
    <div class="content-box">
      <h2>About Us</h2>
      <p>Welcome to Shopstop!</p>
      <p> We specialize in providing high-quality products at affordable prices and excellent customer service. Our mission is to make online shopping easy and enjoyable for our customers.</p>
      <p>With a wide range of products to choose from and excellent customer service, we strive to exceed your expectations with every purchase.</p>
    </div>
      <h2>Some of the businesses we partner with</h2>
      <ul>
        <li>Shoe companys</li>
        <li>Cake baking</li>
        <li>Car accessories</li>
        <li>Boutiques</li>
      </ul>

    <section id="testimonials">
      <h2>Customer Testimonials</h2>
      <div class="testimonial">
        <p>"Shopstop has greatly improved our business operations. Highly recommended!" - John Doe, CEO</p>
      </div>
    </section>
  </div>
  {%endblock%}

