{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - galaxy</title>
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <link rel="stylesheet" href="{% static 'css/nav-style.css'%}">

</head>
<body>
<!-- partial:index.partial.html -->
{% include 'shop/base/navbar.html' %}
{% block content %}
{% endblock %}

<!-- partial -->
  <script  src="{% static 'js/script.js' %}"></script>

</body>
</html>
