
:root {
  --accent-color:             #717171;
  --white-color:              #fff;
  --black-color:              #000;
  --gray-color:               #F3F3F3;
  --gray-color-300:           #D8D8D8;
  --gray-color-500:           #AEAEAE;
  --gray-color-800:           #3A3A3A;
  --light-gray-color:         #D7DDDF;
  --primary-color:            #72AEC8;
  --bs-primary-rgb:           114,174,200;
  --light-color:              #f8f9fa;
  --dark-color:               #212529;
  --light-blue-color:         #EDF1F3;
  --navbar-color-color:       #131814;
  --swiper-theme-color:       #4A4A4A;
  --swiper-pagination-color:  #4A4A4A;

}

/* on mobile devices below 600px
 */
@media screen and (max-width: 600px) {
    :root {
        --header-height : 100px;
        --header-height-min   : 80px;
    }
}

/* Fonts */
:root {
    --body-font           : "Lato", sans-serif;
    --heading-font        : "Jost", sans-serif;
}

/*----------------------------------------------*/
/* 1 GENERAL TYPOGRAPHY */
/*----------------------------------------------*/

/* 1.1 General Styles
/*----------------------------------------------*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
body {
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
  background-color: #050505;
}
p {
  font-size: 1.2em;
  color: var(--gray-color-500);
}
ul.inner-list li {
   font-size: 1.2em;
}
a {
   text-decoration: none; 
}


/*------------ Background Color -----------*/
.bg-gray {
    background: var(--gray-color);
}
.bg-dark {
    background: var(--dark-color);
}
.bg-light {
    background: var(--light-color);
}
.bg-light-blue {
    background: var(--light-blue-color);
}

/* - Section Padding
--------------------------------------------------------------*/
.padding-xsmall {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.padding-small {
  padding-top: 2em;
  padding-bottom: 2em;
}
.padding-medium {
  padding-top: 4em;
  padding-bottom: 4em;
}
.padding-large {
  padding-top: 7em;
  padding-bottom: 7em;
}
.padding-xlarge {
  padding-top: 9.5em;
  padding-bottom: 9.5em;
}

/* no padding */
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-tb {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.no-padding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-gutter {
  padding: 0 !important;
}

/* no padding and margin */
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

/* - Section margin
--------------------------------------------------------------*/
.margin-small {
  margin-top: 3em;
  margin-bottom: 3em;
}
.margin-medium {
  margin-top: 5em;
  margin-bottom: 5em;
}
.margin-large {
  margin-top: 7em;
  margin-bottom: 7em;
}
.margin-xlarge {
  margin-top: 9em;
  margin-bottom: 9em;
}

@media only screen and (max-width: 768px) {
  .margin-small,
  .margin-medium,
  .margin-large {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}




/* - Section width
--------------------------------------------------------------*/
.u-full-width {
    width: 100%;
    border: none;
}

/*--------------------------------------------------------------
/** 2.10 Buttons
--------------------------------------------------------------*/
/* - Button Sizes
------------------------------------------------------------- */
.btn.btn-small {
  padding: 0.8em 1.8em;
  font-size: 0.65em;
}
.btn.btn-medium {
  padding: 0.8em 2.8em;
  font-size: 1.1em;
  letter-spacing: 2px;
}
.btn.btn-large {
  padding: 2.4em 5.1em;
  font-size: 1.8em;
}

/* - Button Shapes
------------------------------------------------------------- */
.btn.btn-rounded,
.btn.btn-rounded::after {
  border-radius: 6px;
}
.btn.btn-pill,
.btn.btn-pill::after {
  border-radius: 2em;
}
/* button outline */
.btn.btn-outline-dark,
.btn.btn-outline-light,
.btn.btn-outline-accent {
  background: transparent;
  text-shadow: none;
  box-shadow: none;
}
.btn.btn-outline-dark:hover::after,
.btn.btn-outline-light:hover::after {
  background-color: transparent;
}
.btn.btn-outline-dark {
  border-color: rgba(0,0,0,1);
  color: var(--dark-color);
}
.btn.btn-outline-dark:hover {
  background: var(--dark-color);
  color: var(--light-color);
}
.btn.btn-outline-light {
  border-color: rgba(255,255,255,0.5);
  color: var(--light-color);
}
.btn.btn-outline-light:hover {
  background: var(--primary-color);
  color: var(--light-color);
  border-color: var(--primary-color);
}
.btn.btn-outline-accent {
  background: transparent;
  border-color: var(--accent-color);
  color: var(--dark-color);
}
.btn.btn-outline-accent:hover {
  border-color: var(--dark-color);
  color: var(--dark-color) !important;
}
.btn.btn-full {
  display: block;
  margin: .85em 0;
  width: 100%;
  letter-spacing: 0.12em;
}

/* no border radius */
.btn-rounded-none,
.btn-rounded-none::after {
  border-radius: 0;
}

/* - Buttons Color Scheme
------------------------------------------------------------- */
.btn.btn-normal {
  text-decoration: underline;
  border: none;
}
.btn.btn-normal:hover {
  text-decoration: none;
}
.btn.btn-accent {
  color: var(--light-color);
  background-color: var(--accent-color);
  border: none;
}
.btn.btn-accent:hover {
  color: var(--light-color) !important;
  background-color: var(--primary-color);
}
.btn.btn-black {
  background-color: var(--dark-color);
  color: var(--light-color);
  border: none;
}
.btn.btn-black:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}
.btn.btn-light {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: none;
}
.btn.btn-light:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
}
.btn.btn-primary {
  background: var(--primary-color);
  color: var(--light-color);
  border: none;
}
.btn.btn-primary:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* - Buttons Aligns
------------------------------------------------------------- */
.btn-left {
  text-align: left;
  display: block;
}
.btn-center {
  text-align: center;
  display: block;
}
.btn-right {
  text-align: right;
  display: block;
}


/* 1. Header
/*----------------------------------------------*/
.site-header {
    position: fixed;
    width: 100%;
    z-index: 10;
  
}



.cardi {
  width: 190px;
  height: 254px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
 }
 
 .cardi2 {
  width: 190px;
  height: 254px;
  background-color: #1a1a1a;
  /* border-radius:; */
  transition: all .2s;
 }
 
 .cardi2:hover {
  transform: scale(0.98);
  border-radius: 19px;
 }
 
 .cardi:hover {
  box-shadow: 0px 0px 30px 1px rgba(255, 230, 0, 0.3);
 }
 

.cardi-title {
  border-radius: 20px;
}


.navbar-brand .title{
        font-weight: 900;
        font-size:2vw;
        font-family: "Poppins";
        color: #D8D8D8;
}


