*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
    background-color: #000;
    font-family: Arial, sans-serif;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.credits
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.credits a
{
    color: inherit;
}

.auth{
    background-color: #000;
}

form.auth{
    height: 600px;
    width: 450px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 50px 35px;
}
form *{
    font-family: 'Roboto',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button.auth{
    margin-top: 14px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    }
button.auth:hover{

    transition: all .3s ease-in-out; 
    background-color: #0d942f;
    color: #ffffff;
}

.about {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #f7f7f7;
    color: #333;
    border-radius: 20px;
    overflow-y: auto;
  }