<footer>
    <div id="txt2">
        <span>Shop </span>
    </div>
    <div id="txt">
        <div class="best-sellers-column">
            <p>Best Sellers</p>
            <ul>
                <li><a href="Cake baking.html">Cake baking</a></li>
                <li><a href="Graphic design.html">Graphic design</a></li>
            </ul>
        </div>
        
        <div class="new-releases-column">
            <p>New releases</p>
            <ul>
                <li><a href="Shoe company.html">Shoe company</a></li>
                <li><a href="Digital marketing.html">Digital marketing</a></li>
            </ul>
        </div>
    
        <div class="today's-deals-column">
            <p>Today's deals</p>
            <ul>
                <li><a href="Car washer.html">Car washer</a></li>
                <li><a href="Cleaning service.html">Cleaning service</a></li>
            </ul>
        </div>
        
    </div>
</footer>