<div class="nav_container">
    <nav>
        <ul>
          <li>
            <a href="{% url 'shop:home' %}">Home</a>
          </li>
          <li>
            <a href="#">Market Place</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          {% if user.is_authenticated%}
          <li>
            <a href="{% url 'users:logout' %}">Log out</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'users:user_login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'users:signup' %}">Sign Up</a>
          </li>
          {% endif %}
        </ul>
      </nav>
</div>
