<div class="navbar">
  <nav >
    <ul style="font-family: 'Courier New', Courier, monospace; font-size: 25px;" >
      <li class="active">
        <a href="{% url 'shop:home' %}">Home</a>
      </li>
      <li>
        <a href="{% url 'shop:shop' %}">Shop</a>
      </li>
      <li>
        <a href="{% url 'shop:create_business'%}">Create Business</a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'users:logout' %}">Logout</a>
      </li>
      {% else %}
      <li>
        <a href="{% url 'users:user_login' %}">Login</a>
      </li>
      <li>
        <a href="{% url 'users:signup' %}">Sign up</a>
      </li>
      {% endif %}

    </ul>
  </nav>  
</div>
