<div class="navbar">
  <nav >
    <ul>
      <li class="active">
        <a href="{% url 'shop:home' %}">home</a>
      </li>
      <li>
        <a href="{% url 'shop:shop' %}">Shop</a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'users:logout' %}">Logout</a>
      </li>
      {% else %}
      <li>
        <a href="{% url 'users:user_login' %}">Login</a>
      </li>
      <li>
        <a href="{% url 'users:signup' %}">Sign up</a>
      </li>
      {% endif %}

    </ul>
  </nav>  
</div>
