<div class="nav_container">
  <nav>
    <ul>
      <li class="active">
        <button>home</button>
      </li>
      <li>
        <button>Shop</button>
      </li>
      <li>
        <button>Logout</button>
      </li>
      <li>
        <button>Login</button>
      </li>
      <li>
        <button>Sign up</button>
      </li>
    </ul>
  

  </nav>
  
    <nav id="navbar">
      
        <a class="navbar-brand" href="{% url 'shop:shop' %}">
          <span class="title">STOP SHOP</span>
        </a>
            
            <ul>
  
              
    </nav>
    
</div>
