<div class="nav_container">
  <nav>
    <ul>
      <li class="active">
        <button ><a href="{% url 'shop:home' %}">Home</a></button>
      </li>
      <li>
        <button><a href="#billboard">Products</a></button>
      </li>
      <li>
        <button ><a href="#company-services">Services</a></button>
      </li>
    </ul>
  

  </nav>
  
  
      
        <a class="navbar-brand" href="{% url 'shop:shop' %}">
          <span class="title">STOP SHOP</span>
        </a>
            
    
</div>
